# 03.DNN을 활용한 날씨 예측

1. 데이터 로드하고 전처리하기

In [12]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
# 데이터 로드
df = pd.read_csv('data/daily_weather.csv')
df

      number  air_pressure_9am  air_temp_9am  ...  rain_duration_9am  relative_humidity_9am  relative_humidity_3pm
0          0        918.060000     74.822000  ...                0.0              42.420000              36.160000
1          1        917.347688     71.403843  ...                0.0              24.328697              19.426597
2          2        923.040000     60.638000  ...               20.0               8.900000              14.460000
3          3        920.502751     70.138895  ...                0.0              12.189102              12.742547
4          4        921.160000     44.294000  ...            14730.0              92.410000              76.740000
...      ...               ...           ...  ...                ...                    ...                    ...
1090    1090        918.900000     63.104000  ...                0.0              26.020000              38.180000
1091    1091        918.710000     49.568000  ...                0.0              90.350000              73.340000
1092    1092        916.600000     71.096000  ...                0.0              45.590000              52.310000
1093    1093        912.600000     58.406000  ...                0.0              64.840000              58.280000
1094    1094        921.530000     77.702000  ...                0.0              14.560000              15.100000

[1095 rows x 11 columns]

> - **number**: 행의 고유 번호입니다. 각 데이터 행을 고유하게 식별합니다.
> - **air_pressure_9am**: 오전 9시의 기압입니다.
> - **air_temp_9am**: 오전 9시의 기온입니다.
> - **avg_wind_direction_9am**: 오전 9시의 평균 풍향입니다.
> - **avg_wind_speed_9am**: 오전 9시의 평균 풍속입니다.
> - **max_wind_direction_9am**: 오전 9시의 최대 풍향입니다.
> - **max_wind_speed_9am**: 오전 9시의 최대 풍속입니다.
> - **rain_accumulation_9am**: 오전 9시까지의 강우량입니다.
> - **rain_duration_9am**: 오전 9시까지의 강우 지속 시간입니다.
> - **relative_humidity_9am**: 오전 9시의 상대 습도입니다.
> - **relative_humidity_3pm**: 오후 3시의 상대 습도입니다.

In [22]:
## 주요 특성 선택 (기온, 기압, 습도)
df = df[['air_temp_9am','air_pressure_9am','relative_humidity_9am','relative_humidity_3pm']]
df

      air_temp_9am  air_pressure_9am  relative_humidity_9am  relative_humidity_3pm
0        74.822000        918.060000              42.420000              36.160000
1        71.403843        917.347688              24.328697              19.426597
2        60.638000        923.040000               8.900000              14.460000
3        70.138895        920.502751              12.189102              12.742547
4        44.294000        921.160000              92.410000              76.740000
...            ...               ...                    ...                    ...
1090     63.104000        918.900000              26.020000              38.180000
1091     49.568000        918.710000              90.350000              73.340000
1092     71.096000        916.600000              45.590000              52.310000
1093     58.406000        912.600000              64.840000              58.280000
1094     77.702000        921.530000              14.560000              15.100000

[1095 rows x 4 columns]

In [25]:
df = df.dropna()
df

      air_temp_9am  air_pressure_9am  relative_humidity_9am  relative_humidity_3pm
0        74.822000        918.060000              42.420000              36.160000
1        71.403843        917.347688              24.328697              19.426597
2        60.638000        923.040000               8.900000              14.460000
3        70.138895        920.502751              12.189102              12.742547
4        44.294000        921.160000              92.410000              76.740000
...            ...               ...                    ...                    ...
1090     63.104000        918.900000              26.020000              38.180000
1091     49.568000        918.710000              90.350000              73.340000
1092     71.096000        916.600000              45.590000              52.310000
1093     58.406000        912.600000              64.840000              58.280000
1094     77.702000        921.530000              14.560000              15.100000

[1087 rows x 4 columns]

In [31]:
# 오전 9시 기온 데이터를 예측 목표로 설정하자.
t_data = df['air_temp_9am'].values
print(t_data)
print('-' * 50)
# reshape(-1,1) : -1은 차원을 자동으로 계산, 전체데이터의 크기, 1은 하나의 컬럼을 뜻한다.
t_data = t_data.reshape(-1,1)
print(t_data)

[74.822      71.40384263 60.638      ... 71.096      58.406
 77.702     ]
--------------------------------------------------
[[74.822     ]
 [71.40384263]
 [60.638     ]
 ...
 [71.096     ]
 [58.406     ]
 [77.702     ]]